.fork-subscription-pricing {
  font-family: "Montserrat";
  background: url("../images/fork-subscription-pricing\ bckgr.png");
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    color: #ffffff;
    padding-bottom: 32px;
  }
  &__title::before {
    position: relative;
    content: url("../images/sep\ copy.png");
  }
  &__parent {
    display: flex;
    flex-direction: column;
  }
  &__item {
    margin-bottom: 18px;
    &-name {
      font-weight: 400;
      font-size: 24px;
      line-height: 24px;
      color: #ffffff;
      text-transform: uppercase;
      background: url("../images/fork-subscription-pricing\ heading.png");
      padding: 36px 0 36px;
    }
    &-price {
      font-weight: 700;
      font-size: 60px;
      line-height: 62px;
      text-transform: uppercase;
      color: #ffffff;
      padding-top: 30px;
    }
    &-per-month {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: #ffffff;
      padding: 20px 0 38px;
    }
    &-license {
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: #ffffff;
      padding: 30px 0 37px;
    }

    &-btn {
      background: url("../images/fork-subscription-pricing\ heading.png");
      font-weight: 400;
      font-size: 15px;
      line-height: 15px;
      text-transform: uppercase;
      color: #ffffff;
      border: none;
      border-radius: 30px;
      padding: 15px 38px;
      cursor: pointer;
    }
  }
  &__div {
    background: url("../images/fork-subscription-pricing\ bckgr\ div.png");
    padding-bottom: 67px;
  }
  &__dark-div {
    background: url("../images/div-dark.png");
    padding-bottom: 47px;
    .dark-price {
      padding-top: 14px;
    }
    .dark-per-month {
      padding: 16px 0 46px;
    }
    .dark-license {
      padding: 40px 0 83px;
    }
  }
  .dark-name {
    background: url("../images/heading-bg-dark.png");
    padding: 43px 0 43px;
  }
}

@media screen and (min-width: 481px) and (max-width: 992px) {
  .fork-subscription-pricing {
    padding: 88px 0 94px;
    display: grid;

    &__title {
      font-size: 42px;
      line-height: 44px;
      padding-bottom: 39px;

      div {
        display: inline;
      }
    }
    &__div {
      padding-bottom: 36px;
    }
    &__parent {
      display: grid;
      grid-template-columns: 2fr 2fr;
      grid-template-rows: 2fr 2fr;
      align-items: center;
      column-gap: 25px;
    }
    &__title::before {
      position: relative;
      content: url("../images/sep\ copy\ middle.png");
      bottom: 88px;
    }
    &__item {
      max-width: 257px;
      margin-bottom: 0;

      &-price {
        line-height: 90px;
      }
      .far-btn {
        margin-top: 18px;
      }
    }
    &__dark-div {
      max-width: 299px;
    }
    .item-add-styles {
      justify-self: end;
      min-width: 257px;
    }
  }
}

@media screen and (min-width: 993px) {
  .fork-subscription-pricing {
    padding: 112px 0 97px;

    &__title {
      font-size: 48px;
      line-height: 50px;
      padding-bottom: 64px;

      div {
        display: inline;
      }
    }
    &__title::before {
      position: relative;
      content: url("../images/sep\ copy\ big.png");
      bottom: 112px;
    }
    &__parent {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    &__item {
      margin-bottom: 0;
      min-width: 257px;

      .far-btn {
        margin-top: 18px;
      }

      &-price {
        line-height: 90px;
      }
    }
    &__item:not(:last-child) {
      margin-right: 15px;
    }

    &__div {
      padding-bottom: 39px;
      min-width: 257px;
    }
    &__dark-div {
      min-width: 299px;
    }
    .dark-name {
      background: url("../images/heading-bg-dark.png");
      padding: 43px 96px;
    }
  }
}
