.header {
  font-family: "Montserrat";

  &-heading {
    margin-top: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #ffffff;
  }
  &-text {
    margin-top: 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #8d81ac;
  }
  &-version {
    margin-top: 14px;
    color: #848e97;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
  }
  &-trial {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848e97;
    position: relative;
    top: -10px;
  }
  &-background {
    background-position: center;
    height: 90vh;
    background-image: url("../images/headerBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.menu-wrapper {
  position: relative;
  height: 103px;
  background: #27262a;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  z-index: 2;
}

.logo {
  &__img {
    width: 43px;
    height: 41px;
    background-image: url("../images/headerLogo.png");
  }
  &__text {
    color: #8d81ac;
    display: none;
  }
  &:hover .logo__img {
    background-image: url("../images/headerLogoHover.png");
  }
}
.button-buy {
  width: 119px;
  height: 37px;
  background: #8d81ac;
  border-radius: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  border-style: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background: #ffffff;
    color: rgba(141, 129, 172, 1);
    border: 1px solid #8d81ac;
  }
}
.hamburger {
  &-menu {
    display: block;
    cursor: pointer;
    width: 26px;
  }
  &-menu__bar {
    display: block;
    width: 26px;
    height: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
    border-radius: 2px;
  }
  &-menu__bar--small {
    margin-top: 9px;
    width: 15px;
    margin-left: 11px;
  }
  &-menu--active .hamburger-menu__bar:nth-child(2) {
    opacity: 0;
  }
  &-menu--active .hamburger-menu__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    width: 26px;
    margin-left: 0px;
  }
  &-menu--active .hamburger-menu__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.nav {
  display: none;
  &-mobile {
    top: -250px;
    z-index: 1;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 90%;
    transition: all 1s cubic-bezier(0, 0, 0.2, 1);
  }
  &-mobile__item {
    box-sizing: border-box;
    padding-top: 29px;
    height: 88px;
    background-color: #333333;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #ffffff;
    border-bottom: 3px solid #3b3b3b;
    text-decoration: none;
  }
  &-mobile--active {
    top: 103px;
  }
}
.nav-mobile__item:focus,
.nav-mobile__item:active {
  background-position: left;
  background-image: url("../images/headerActive.png");
  background-repeat: no-repeat;
  color: #8d81ac;
}

.button-download {
  top: -22.5px;
  text-align: center;
  position: relative;
  min-width: 290px;
  min-height: 45px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  background: #8d81ac;
  border-radius: 40px;
  color: #ffffff;
  border-style: none;
  transition: all 0.3s ease-in-out;
  border-color: #8d81ac;
  cursor: pointer;
}
.button-download:hover {
  background: #ffffff;
  color: rgba(141, 129, 172, 1);
  border: 2px solid;
}

@media only screen and (min-width: 481px) {
  .logo {
    display: flex;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    align-items: center;
    text-decoration: none;
    grid-area: 1 / 1 / 2 / 2;
    align-self: end;

    &:hover .logo__text {
      color: #ffffff;
    }
    &__text {
      margin-left: 17px;
      display: inline;
      transition: color 0.3s ease-in-out;
    }
  }
  .menu-wrapper {
    height: 118px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .button-buy {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: end;
    align-self: end;
    width: 145px;
    height: 38px;
    font-size: 16px;
  }

  .hamburger-menu {
    display: none;
  }
  .nav {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    justify-content: space-evenly;
    margin: 0 5%;
    &__item {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      color: #8d81ac;
      text-decoration: none;
      transition: color 0.3s ease-in-out;
      &:hover {
        color: #ffffff;
      }
    }
    &-mobile {
      display: none;
    }
  }
  .header {
    &-heading {
      font-size: 72px;
      line-height: 72px;
      margin-top: 69px;
    }
    &-text {
      font-size: 24px;
      margin-top: 19px;
    }
  }

  .button-download {
    font-size: 21px;
    width: 390px;
    height: 62px;
    top: -31px;
  }
}

@media only screen and (min-width: 993px) {
  .menu-wrapper {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    height: 102px;
    background: none;
    grid-template-columns: 4fr 5fr 1fr;
    grid-template-rows: 1fr;
  }
  .logo {
    align-self: auto;
    grid-area: 1 / 1 / 2 / 2;
  }
  .button-buy {
    align-self: auto;
    grid-area: 1 / 3 / 2 / 4;
  }
  .nav {
    justify-content: space-evenly;
    margin: 0;
    grid-area: 1 / 2 / 2 / 3;
  }
  .header {
    &-heading {
      font-size: 82px;
      line-height: 82px;
      margin-top: 20px;
    }
    &-text {
      font-size: 30px;
      line-height: 30px;
      margin-top: 19px;
    }
    &-version {
      font-size: 16px;
      line-height: 16px;
    }
  }

  .button-download {
    font-size: 21px;
    width: 390px;
    height: 62px;
    top: -31px;
  }
}
