.here-is-what-you-get {
  padding-bottom: 36px;

  h2:before {
    content: "\3C";
  }
  h2 div:after {
    content: "\3E";
  }
  h2 {
    color: #8d81ac;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 36px;
  }
  h3 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #323232;
    padding: 27px 0 14px 0;
  }
  p {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #848e97;
    padding-bottom: 42px;
  }
  &__down-img {
    padding-top: 64px;

    img {
      width: 100%;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 992px) {
  .here-is-what-you-get {
    text-align: left;

    h2 {
      font-size: 42px;
      line-height: 44px;
      padding-bottom: 50px;
      text-align: center;

      div {
        display: inline;
      }
    }
    h3 {
      line-height: 21px;
      padding: 0 0 17px 0;
    }
    p {
      padding-bottom: 62px;
    }
    &__parent {
      display: flex;
      img {
        max-width: 111px;
        max-height: 64px;
        justify-content: end;
      }
    }
    &__img {
      min-width: 111px;
      margin-left: 20px;
      margin-right: 23px;
    }
    &__down-img {
      padding-top: 0;
      padding-right: -10px;
      margin-right: -10px;
      text-align: end;
    }
  }
}

@media screen and (min-width: 993px) {
  .grid-parent {
    display: grid;
    grid-template-areas:
      "b b a"
      "b b c"
      "b b c";
  }
  .here-is-what-you-get {
    background: #f4f4f4;
    text-align: left;

    h2 {
      font-size: 48px;
      line-height: 50px;
      padding-bottom: 19px;
      margin: 94px 0 0 15px;
      grid-area: a;

      div {
        display: inline;
      }
    }
    h3 {
      line-height: 21px;
      padding: 0 0 17px 0;
    }
    &__content {
      grid-area: b;
      margin-top: 98px;
    }
    p {
      margin: 0 49px 35px 0;
      padding-bottom: 0;
      height: 100%;
    }
    &__parent {
      display: flex;
      img {
        max-width: 111px;
        max-height: 64px;
        justify-content: end;
      }
    }
    &__img {
      min-width: 111px;
      margin-left: 20px;
      margin-right: 23px;
    }
    &__down-img {
      padding-top: 0;
      padding-right: -10px;
      margin-right: -10px;
      grid-area: c;
      img {
        padding-right: 0;
        margin-right: 0;
      }
    }
  }
}
