.peopleTalking {
  max-height: 1610px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__wrapper {
    background-image: url("../images/peopleBackground2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(75, 59, 78);
  }
  &__heading {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #ffffff;
    padding-top: 57px;
  }
  &__text {
    margin: 30px 25px 0 25px;
    font-family: "Lato";
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }
  &__footer-text {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #a291a5;
    padding-top: 37px;
  }
  .img__wrapper {
    padding-top: 45px;
  }
}


@media only screen and (min-width: 481px) {
  .peopleTalking {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    min-height: 882px;

    &__wrapper {
      background-image: url("../images/peopleBackground.png");
    }
    &__grid-item1 {
      grid-area: 1 / 1 / 3 / 3;
    }
    &__grid-item2 {
      grid-area: 3 / 1 / 5 / 2;
    }
    &__grid-item3 {
      grid-area: 3 / 2 / 5 / 3;
    }
    &__grid-item4 {
      grid-area: 5 / 1 / 7 / 2;
    }
    &__grid-item5 {
      grid-area: 5 / 2 / 7 / 3;
    }
    &__grid-item6 {
      grid-area: 7 / 1 / 9 / 2;
    }
    &__grid-item7 {
      grid-area: 7 / 2 / 9 / 3;
    }
    &__grid-item8 {
      grid-area: 9 / 1 / 10 / 3;
    }
    &__heading {
      font-size: 42px;
      line-height: 44px;
    }
    &__grid-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__text {
      margin: 0 10px 0;
      max-width: 343px;
    }
    &__footer-text {
      max-width: 887px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .img__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 64px;
    object-fit: none;
  }
}

@media only screen and (min-width: 993px) {
  .peopleTalking {
    height: 769px;
    box-sizing: border-box;
    max-width: 1200px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);

    &__heading {
      font-size: 48px;
    }
    &__grid-item1 {
      grid-area: 1 / 1 / 2 / 4;
      align-self: end;
    }
    &__grid-item2 {
      grid-area: 2 / 1 / 4 / 2;
    }
    &__grid-item3 {
      grid-area: 2 / 2 / 4 / 3;
    }
    &__grid-item4 {
      grid-area: 2 / 3 / 4 / 4;
    }
    &__grid-item5 {
      grid-area: 4 / 1 / 6 / 2;
    }
    &__grid-item6 {
      grid-area: 4 / 2 / 6 / 3;
    }
    &__grid-item7 {
      grid-area: 4 / 3 / 6 / 4;
    }
    &__grid-item8 {
      grid-area: 6 / 1 / 7 / 4;
      align-self: end;
    }
    &__grid-item {
      height: 172px;
      justify-content: space-between;
    }
  }
}
