.revolutionary-editor {
  text-align: center;
  padding: 79.5px 0 120px;

  h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    color: #635c73;
    margin-bottom: 27px;
    text-transform: uppercase;
  }

  &__text {
    font-family: "Lato";
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    color: #323232;
    div {
      display: inline;
    }
  }
  &__buttons {
    margin-top: 16px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    button {
      display: flex;
      align-items: center;
      font-family: "Lato";
      font-style: normal;
      border: none;
      border-right: 1px solid grey;
      font-weight: 700;
      background-color: rgb(230, 229, 229);
      cursor: pointer;
      height: 100%;

      svg {
        width: 20px;
        padding-right: 5px;
      }
      .icon-name {
        padding-right: 5px;
      }
    }
    .buttons-parent {
      display: flex;
      align-items: center;
      border: 1px solid grey;
      border-radius: 5px;
      max-height: 26px;
      padding: 0;
      margin-top: 20px;
    }
    .icon-numbers {
      padding: 5px;
      color: black;
      font-weight: 700;
      font-size: 14px;
    }
    .icon-numbers__link {
      text-decoration: none;
      padding-left: 5px;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 992px) {
  .revolutionary-editor {
    padding: 93.5px 0 160px;

    h2 {
      font-size: 42px;
      line-height: 42px;
      margin-bottom: 33px;
      div {
        display: inline;
      }
    }

    &__text {
      font-size: 21px;
      line-height: 32px;
    }
    &__buttons {
      justify-content: center;

      .buttons-parent:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (min-width: 993px) {
  .revolutionary-editor {
    margin: 66px 0 70px;

    h2 {
      font-size: 54px;
      line-height: 54px;
      margin-bottom: 35px;
      div {
        display: inline;
      }
    }

    &__text {
      font-size: 21px;
      line-height: 32px;
      div {
        display: block;
      }
    }
    &__buttons {
      justify-content: center;

      .buttons-parent:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
