@import "reset";
@import "body";
@import "header";
@import "forkSubscriptionPricing";
@import "hereIsWhatYouGet";
@import "peopleAreTalkingAboutFork";
@import "revolutionaryEditor";

.container {
  padding-right: 10px;
  padding-left: 10px;
}

@media screen and (max-width: 319px) {
  .container {
    width: 320px;
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1201px) {
  .container {
    width: 1200px;
    text-align: center;
    margin: 0 auto;
  }
}
