<section class="fork-subscription-pricing">
  <div class="container">
    <h2 class="fork-subscription-pricing__title">
      <br />
      Fork Subscription
      <div>Pricing</div>
    </h2>
    <div class="fork-subscription-pricing__parent">
      <div class="fork-subscription-pricing__item item-add-styles">
        <h3 class="fork-subscription-pricing__item-name">Students</h3>
        <div class="fork-subscription-pricing__div">
          <div class="fork-subscription-pricing__item-price">$29</div>
          <div class="fork-subscription-pricing__item-per-month">per month</div>
          <img src="./dist/images/sep.png" alt="line" />
          <div class="fork-subscription-pricing__item-license">
            Personal License
          </div>
          <button class="fork-subscription-pricing__item-btn far-btn">
            purchase
          </button>
        </div>
      </div>

      <div class="fork-subscription-pricing__item">
        <h3 class="fork-subscription-pricing__item-name">professional</h3>
        <div class="fork-subscription-pricing__div">
          <div class="fork-subscription-pricing__item-price">$59</div>
          <div class="fork-subscription-pricing__item-per-month">per month</div>
          <img src="./dist/images/sep.png" alt="line" />
          <div class="fork-subscription-pricing__item-license">
            Professional License <br />
            Email Support
          </div>
          <button class="fork-subscription-pricing__item-btn">purchase</button>
        </div>
      </div>

      <div class="fork-subscription-pricing__item item-add-styles">
        <h3 class="fork-subscription-pricing__item-name dark-name">agency</h3>
        <div class="fork-subscription-pricing__dark-div">
          <div class="fork-subscription-pricing__item-price dark-price">
            $99
          </div>
          <div class="fork-subscription-pricing__item-per-month dark-per-month">
            per month
          </div>
          <img src="./dist/images/sep.png" alt="line" />
          <div class="fork-subscription-pricing__item-license dark-license">
            1-12 Team Members <br />
            Phone Support
          </div>
          <button class="fork-subscription-pricing__item-btn">purchase</button>
        </div>
      </div>

      <div class="fork-subscription-pricing__item">
        <h3 class="fork-subscription-pricing__item-name">enterprise</h3>
        <div class="fork-subscription-pricing__div">
          <div class="fork-subscription-pricing__item-price">$159</div>
          <div class="fork-subscription-pricing__item-per-month">per month</div>
          <img src="./dist/images/sep.png" alt="line" />
          <div class="fork-subscription-pricing__item-license">
            Unlimited Team Members <br />
            24/ 7 Phone Support
          </div>
          <button class="fork-subscription-pricing__item-btn">purchase</button>
        </div>
      </div>
    </div>
  </div>
</section>
