<header>
  <div class="header-background">
    <div class="menu-wrapper container">
      <a class="logo" href="#">
        <div class="logo__img"></div>
        <span class="logo__text">FORKIO</span>
      </a>
      <nav class="nav">
        <a class="nav__item" href="#"> Overview </a>
        <a class="nav__item" href="#"> About Fork </a>
        <a class="nav__item" href="#"> Buying Options </a>
        <a class="nav__item" href="#"> Support </a>
      </nav>
      <button class="button-buy">Buy Now</button>
      <div class="hamburger-menu">
        <span class="hamburger-menu__bar hamburger-menu__bar--small"></span>
        <span class="hamburger-menu__bar"></span>
        <span class="hamburger-menu__bar"></span>
      </div>
    </div>
    <nav class="nav-mobile">
      <a class="nav-mobile__item" href="#"> Overview </a>
      <a class="nav-mobile__item" href="#"> About Fork </a>
      <a class="nav-mobile__item" href="#"> Buying Options </a>
      <a class="nav-mobile__item" href="#"> Support </a>
    </nav>
    <div class="container">
      <h1 class="header-heading">Fork App</h1>
      <p class="header-text">
        A Real Gamechanger In The World Of Web Development
      </p>
      <p class="header-version">v. 2.8 For Mac and Windows</p>
    </div>
  </div>
  <button class="button-download">Download For Free Now</button>
  <p class="header-trial container">Unlimited 30-Days Trial Period</p>
</header>
