<section class="here-is-what-you-get">
  <div class="container grid-parent">
    <h2>
      Here is what
      <div>you get</div>
    </h2>
    <div class="here-is-what-you-get__content">
      <div class="here-is-what-you-get__parent">
        <div class="here-is-what-you-get__img">
          <img
            src="./dist/images/here-is-what-you-get icon.png"
            alt="here-is-what-you-get icon"
          />
        </div>
        <div>
          <h3>Created to Make The Web Better</h3>
          <p>
            Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
            laoreet vulputate dignissim. Sed id metus id quam auctor molestie
            eget ut augue.
          </p>
        </div>
      </div>

      <div class="here-is-what-you-get__parent">
        <div class="here-is-what-you-get__img">
          <img
            src="./dist/images/here-is-what-you-get icon 4.png"
            alt="here-is-what-you-get icon"
          />
        </div>
        <div>
          <h3>Incredibly Powerful Tool</h3>
          <p>
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
            odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
            gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </div>

      <div class="here-is-what-you-get__parent">
        <div class="here-is-what-you-get__img">
          <img
            src="./dist/images/here-is-what-you-get icon2.png"
            alt="here-is-what-you-get icon"
          />
        </div>
        <div>
          <h3>Experimental Stuff</h3>
          <p>
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
            odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
            gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </div>

      <div class="here-is-what-you-get__parent">
        <div class="here-is-what-you-get__img">
          <img
            src="./dist/images/here-is-what-you-get icon33.png"
            alt="here-is-what-you-get icon"
          />
        </div>
        <div>
          <h3>Creatred to Make The Web Better</h3>
          <p>
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
            odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
            gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </div>
    </div>
    <div class="here-is-what-you-get__down-img">
      <img
        src="./dist/images/here-is-what-you-get pic.png"
        alt="here-is-what-you-get pic"
      />
    </div>
  </div>
</section>
