<div class="peopleTalking__wrapper">
  <section class="peopleTalking container">
    <h2 class="peopleTalking__heading peopleTalking__grid-item1">
      People Are Talking About Fork
    </h2>
    <div class="peopleTalking__grid-item2 peopleTalking__grid-item">
      <div class="img__wrapper">
        <img src="./dist/images/peopleSmashing.png" alt="img" />
      </div>
      <p class="peopleTalking__text">
        Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
        Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
      </p>
    </div>
    <div class="peopleTalking__grid-item3 peopleTalking__grid-item">
      <div class="img__wrapper">
        <img src="./dist/images/peopleCodrops.png" alt="img" />
      </div>
      <p class="peopleTalking__text">
        Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus
        molestie neque ac, mollis eleifend nibh.
      </p>
    </div>
    <div class="peopleTalking__grid-item4 peopleTalking__grid-item">
      <div class="img__wrapper">
        <img src="./dist/images/peopleW.png" alt="img" />
      </div>
      <p class="peopleTalking__text">
        In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat
        fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula.
      </p>
    </div>
    <div class="peopleTalking__grid-item5 peopleTalking__grid-item">
      <div class="img__wrapper">
        <img src="./dist/images/peoplePixelBuddha.png" alt="img" />
      </div>
      <p class="peopleTalking__text">
        Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
        Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
      </p>
    </div>
    <div class="peopleTalking__grid-item6 peopleTalking__grid-item">
      <div class="img__wrapper">
        <img src="./dist/images/peopleCreative.png" alt="img" />
      </div>
      <p class="peopleTalking__text">
        Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla
        faucibus lorem id arcu consequat faucibus.
      </p>
    </div>
    <div class="peopleTalking__grid-item7 peopleTalking__grid-item">
      <div class="img__wrapper">
        <img src="./dist/images/peopleTNW.png" alt="img" />
      </div>
      <p class="peopleTalking__text">
        Fusce pharetra erat id odio blandit, nec pharetra eros venenatis.
        Pellentesque porttitor cursus massa et vestibulum.
      </p>
    </div>
    <p class="peopleTalking__footer-text peopleTalking__grid-item8">
      Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris,
      facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero
      tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et
      magnis dis parturient montes, nascetur ridiculus mus.
    </p>
  </section>
</div>
