<section class="revolutionary-editor container">
  <h2>
   Revolutionary  
   <div>Editor</div> 
  </h2>
  <div class="revolutionary-editor__text"
    >Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet
    vulputate dignissim. <div>Sed id metus id quam auctor molestie eget ut augue.</div> 
</div>
  <div class="revolutionary-editor__buttons">
    <div class="buttons-parent">
      <button>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
          <path
            d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
          />
        </svg>
        <strong class="icon-name">Watch</strong>
      </button>
      <a class="icon-numbers__link" href="#"><strong class="icon-numbers">1,397</strong></a>
    </div>

    <div class="buttons-parent">
      <button>
        <span class="material-symbols-outlined"> star </span>
        <strong class="icon-name">Star</strong>
      </button>
      <a class="icon-numbers__link" href="#"><strong class="icon-numbers">21,038</strong></a>
    </div>

    <div class="buttons-parent">
      <button>
        <svg
          aria-hidden="true"
          height="20"
          viewBox="0 0 16 16"
          version="1.1"
          width="20"
          data-view-component="true"
          class="octicon octicon-repo-forked mr-2"
        >
          <path
            d="M5 5.372v.878c0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75v-.878a2.25 2.25 0 1 1 1.5 0v.878a2.25 2.25 0 0 1-2.25 2.25h-1.5v2.128a2.251 2.251 0 1 1-1.5 0V8.5h-1.5A2.25 2.25 0 0 1 3.5 6.25v-.878a2.25 2.25 0 1 1 1.5 0ZM5 3.25a.75.75 0 1 0-1.5 0 .75.75 0 0 0 1.5 0Zm6.75.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm-3 8.75a.75.75 0 1 0-1.5 0 .75.75 0 0 0 1.5 0Z"
          ></path>
        </svg>
        <strong class="icon-name">Fork</strong>
      </button>
      <a class="icon-numbers__link" href="#"><strong class="icon-numbers">4,391</strong></a>
    </div>
  </div>
</section>
